.clearfix {
    zoom: 1
}

html,
body {
    overflow-x: hidden;
    text-rendering: optimizeLegibility;

}

.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden
}

@font-face {
    font-family: saira-bold;
    src: url(Saira-Bold.ttf)
}

@font-face {
    font-family: saira-regular;
    src: url(Saira-Regular.ttf)
}

/*---------------------------------*/
.left,
.right {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    background-color: #E5E5E5;

}

.left {
    width: 20%;
    left: 0;
    background-color: white;
    padding: 20px;

}

h1 {
    font-family: saira-bold;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 57px;
    color: #404040;
    margin-left: 25px
}

ul {
    margin-left: 30px;
}

li {
    list-style: none;
    cursor: pointer;
    padding: 20px;
    color: #C7C7C7;
    font-family: saira-regular;
}

li:hover,
li:active {
    background-color: #F3CABB;
    border-radius: 4px;
    color: black;
}

.section_logo {
    text-align: center;
    margin-top: 50px;
}

.logo_class {
    width: 100px;
    height: 113px;
}

.right {
    width: 80%;
    right: 0;
   

}

.home {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);

}

.login-box {
    text-align: center;
    background: #FFFFFF;
    border: 0.5px solid #EAEAEA;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.06);
    border-radius: 19.0044px;
    min-height: 80vh;
    margin: 20px;
    padding: 10px;
}

.dropdown_box {
    background: #FFFFFF;
    border: 1px solid #C5C5C5;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 6px 6px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 6px 6px 4px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin: auto;
    position: absolute;
    min-height: 50vh;
    -webkit-transform: translate(50%, 30%);
    transform: translate(50%, 30%);
    margin: 20px;
}

.dropdown_box h5 {
    font-family: saira-regular;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #404040;
    padding: 15px
}

.select_Dropdown {
    width: 35%;
    margin: auto;
    margin-top: 50px;
}



select {
    width: 200px;
    padding: 0px;
    font-family: saira-regular;
    background-color: #F8F8F8;
    border: 0.5px solid #CACACA;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.select_Dropdown text {
    font-family: saira-regular;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #676767;
}

.btn3 {
    background: #EB5A2C;
    border-radius: 6.35px;
    color: white;
    padding: 5px;
    width: 120px;
    font-family: saira-regular;
    position: absolute;
    bottom: 15%;
    left: 40%
}

i {
    padding: 10px;
    cursor: pointer
}




.btn2 {
    background: #EB5A2C;
    border-radius: 6.35px;
    color: white;
    padding: 8px;
    font-family: saira-regular;
    position: absolute;
    bottom: 10%;
}
